<app-navbar (toggle)="toggleSidebar()"></app-navbar>

<mat-drawer-container class="sidebar-container">
    <mat-drawer class="sidebar" mode="side" [opened] = "sidebar">
        <app-sidebar></app-sidebar>
    </mat-drawer>
    <mat-drawer-content>
        <h1>User Profile</h1>
        <div class="profile-container">
            <img src="../../../../assets/pro-pic.jpg" alt="Profile Image">
            <div class="initials-overlay">AB</div>
          </div>          
    </mat-drawer-content>
</mat-drawer-container>
