.main1{
    padding-top: 40px;

    height: 100% !important;
    background: #99c5f5;
}

h1{
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
}

.container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 595px; 
    padding: 20px;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 0.5px 6px rgba(0, 0, 0, 0.1);
    margin-left: 370px;
    margin-bottom: 10px;
  }

  .card-header1{
    border-bottom: 0.5px solid rgba(0,0,0,.125);
    width: 595px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .form-body1{
    margin-top: 20px;
    width: 570px;
    background: white;
  }
  .name1 {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   gap: 10px;
   width: 100%;
  }

  .inputs1{
    display: flex;
    width: 700px;
  }
  
  .input-field {
    width: 100%;
    /* margin-bottom: 20px; */
  }
  
  .mat-form-field {
    width: 100%;
  }
  
  .registerbtn {
    width: 100%;
    height: 40px;
    background: #007bff;
    color: white;
    max-width: 600px; 
    margin-top: -10px;
    font-size: 16px;
    border-radius: 5px;
    border: #007bff;
    box-shadow: none;
  }

  .registerbtn[disabled]{
    background-color: #9bc5f1;
    color: white;
  }

  .card-footer1{
    border-top: 0.5px solid rgba(0,0,0,.125);
    width: 570px;
    margin-top: 20px;
    padding-top: 20px;
  }

  a{
    margin-left: 200px;
    color: #007bff;
  }
  
  .errmsg{
    display: flex;
    flex-wrap: wrap;
    color: red;
    margin-left: 85px;
    margin-top: -10px;
    margin-bottom: 10px;
    margin-left: 165px;
    align-items: center;
  }

  mat-icon{
    color: gray;
  }

  @media (max-width: 575.98px){ 
    .container1 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      max-width: 400px; 
      padding: 20px;
      border-radius: 5px;
      background-color: #ffffff;
      box-shadow: 0 0.5px 6px rgba(0, 0, 0, 0.1);
      margin-left: 70px;
      margin-bottom: 20px;
    }

    h1{
      text-align: center;
      margin-bottom: 5px;
      font-size: 30px;
  }

    .card-header1{
      border-bottom: 0.5px solid rgba(0,0,0,.125);
      width: 400px;
      padding-top: 15px;
      padding-bottom: 15px;
    }
    .card-footer1{
      border-top: 0.5px solid rgba(0,0,0,.125);
      width: 400px;
      margin-top: 20px;
      padding-top: 20px;
    }
    .form-body1{
      margin-top: 20px;
      width: 350px;
      background: white;
    }

    .inputs1{
      display: flex;
      width: 400px;
    }

    .registerbtn {
      width: 90%;
      height: 40px;
      background: #007bff;
      color: white;
      max-width: 600px; 
      margin-top: -10px;
      font-size: 16px;
      border-radius: 5px;
      border: #007bff;
      box-shadow: none;
      margin-left: 20px;
    }

    a{
      margin-left: 110px;
      color: #007bff;
    }
  }

  @media (min-width: 576px) and (max-width: 767.98px){
    .container1 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      max-width: 400px; 
      padding: 20px;
      border-radius: 5px;
      background-color: #ffffff;
      box-shadow: 0 0.5px 6px rgba(0, 0, 0, 0.1);
      margin-left: 140px;
      margin-bottom: 20px;
      margin-top: -15px;
    }

    h1{
      text-align: center;
      margin-bottom: 5px;
      font-size: 30px;
  }

    .card-header1{
      border-bottom: 0.5px solid rgba(0,0,0,.125);
      width: 400px;
      padding-top: 15px;
      padding-bottom: 15px;
    }
    .card-footer1{
      border-top: 0.5px solid rgba(0,0,0,.125);
      width: 400px;
      margin-top: 20px;
      padding-top: 20px;
    }
    .form-body1{
      margin-top: 20px;
      width: 350px;
      background: white;
    }

    .inputs1{
      display: flex;
      width: 400px;
    }

    .registerbtn {
      width: 90%;
      height: 40px;
      background: #007bff;
      color: white;
      max-width: 600px; 
      margin-top: -10px;
      font-size: 16px;
      border-radius: 5px;
      border: #007bff;
      box-shadow: none;
      margin-left: 20px;
    }

    a{
      margin-left: 110px;
      color: #007bff;
    }

  }

  @media (min-width: 768px) and (max-width: 991.98px) {
    .container1 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      max-width: 400px; 
      padding: 20px;
      border-radius: 5px;
      background-color: #ffffff;
      box-shadow: 0 0.5px 6px rgba(0, 0, 0, 0.1);
      margin-left: 185px;
      margin-bottom: 20px;
      margin-top: -15px;
    }

    h1{
      text-align: center;
      margin-bottom: 5px;
      font-size: 30px;
  }

    .card-header1{
      border-bottom: 0.5px solid rgba(0,0,0,.125);
      width: 400px;
      padding-top: 15px;
      padding-bottom: 15px;
    }
    .card-footer1{
      border-top: 0.5px solid rgba(0,0,0,.125);
      width: 400px;
      margin-top: 20px;
      padding-top: 20px;
    }
    .form-body1{
      margin-top: 20px;
      width: 350px;
      background: white;
    }

    .inputs1{
      display: flex;
      width: 400px;
    }

    .registerbtn {
      width: 90%;
      height: 40px;
      background: #007bff;
      color: white;
      max-width: 600px; 
      margin-top: -10px;
      font-size: 16px;
      border-radius: 5px;
      border: #007bff;
      box-shadow: none;
      margin-left: 20px;
    }

    a{
      margin-left: 110px;
      color: #007bff;
    }
  }