.container1{
  display: flex;
  margin-left: 100px;
  flex-direction: row;
  justify-content: center;
  width: 900px;
  height: 100vh;
  margin-top: 30px;
}

table {
  width: 900px;
  margin-top: 50px;
}

.fa-trash {
  margin-left: 15px;
}

.fa-pen-to-square {
  margin-left: 9px;
}

button {
  border: none;
  background: transparent;
}

.spin{
  position: sticky;
  margin-top: -190px;
  margin-left: 45%;
  background: transparent !important;
}
.search{
  margin-left: 50px;
  margin-top: 75px;
  width: 400px;
  border-radius: 10px;
  box-shadow: 1px;
}