<div class="container1">

  <div class="mat-elevation-z8">
    <!-- search-box -->
    <div *ngIf="role === 'admin'">
      <mat-form-field class="search">
        <input matInput placeholder="Search" #searchInput (keyup.enter)="onSearch(searchInput.value)">
        <button mat-button matSuffix (click)="onSearch(searchInput.value)">
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Last Name</th>
          <th>Role</th>
          <th *ngIf="role === 'admin'">Edit</th>
          <th *ngIf="role === 'admin'">Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of userData | paginate: {
                itemsPerPage: itemsPerPage,
                currentPage: currentPage,
                totalItems: totalCount
              };
        let i = index">
          <td>{{user.id}}</td>
          <td>{{user.firstName}}</td>
          <td>{{user.lastName}}</td>
          <td>{{user.role}}</td>
          <td *ngIf="role === 'admin'">
            <button (click)="openDialog(user)">
              <i class="fa-solid fa-pen-to-square"></i>
            </button>
          </td>
          <td *ngIf="role === 'admin'">
            <button (click)="openDeleteModal(user.id)">
              <i class="fa-solid fa-trash" style="color: #e91616;"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    
    <div class="pagination-controls">
      <pagination-controls (pageChange)="pageChanged($event)" [maxSize]="maxPageLinks" >
      </pagination-controls>
    </div>

    <div class="spin">
      <span *ngIf="showSpinner" class="example-margin">
          <mat-spinner color="accent" diameter="50" strokeWidth="4"></mat-spinner>
      </span>
    </div>
  </div>
</div> 