<h2 mat-dialog-title>Add User</h2>
<mat-dialog-content class="mat-typography">
    <!-- create user form start -->
    <div class="container1">
        <!-- <div class="card-header1">
            <h1>Create Account</h1>
        </div> -->
        <form [formGroup]="addUserForm" >
        <div class="form-body1">
                <div class="name1">
                  <mat-form-field class="input-field inputs1">
                      <input matInput placeholder="Enter first Name" formControlName="firstName">
                  </mat-form-field>
                      <span style="color: red;" *ngIf="addUserForm.get('firstName')!.invalid && (addUserForm.get('firstName')?.dirty || addUserForm.get('firstName')?.touched)" >
                              <small class="text-danger"
                              *ngIf="addUserForm.get('firstName')!.hasError('required')">
                                  Required field</small>
                      </span>
                      <span style="color: red;" *ngIf="addUserForm.get('firstName')!.invalid && (addUserForm.get('firstName')?.dirty || addUserForm.get('firstName')?.touched)" >
                          <small class="text-danger"
                          *ngIf="addUserForm.get('firstName')!.hasError('pattern')">
                              Invalid username</small>
                      </span>
                  <mat-form-field class="input-field inputs1">
                      <input matInput placeholder="Enter last Name" formControlName="lastName">
                  </mat-form-field>
                      <span style="color: red;" *ngIf="addUserForm.get('lastName')!.invalid && (addUserForm.get('lastName')?.dirty || addUserForm.get('lastName')?.touched)" >
                          <small class="text-danger"
                          *ngIf="addUserForm.get('lastName')!.hasError('required')">
                              Required field</small>
                      </span>
                      <span style="color: red;" *ngIf="addUserForm.get('lastName')!.invalid && (addUserForm.get('lastName')?.dirty || addUserForm.get('lastName')?.touched)" >
                          <small class="text-danger"
                          *ngIf="addUserForm.get('lastName')!.hasError('pattern')">
                              Invalid username</small>
                      </span>
                </div>
                <mat-form-field class="input-field">
                    <input matInput type="email" placeholder="Enter email address" formControlName="email">
                </mat-form-field>
                <span style="color: red;" *ngIf="addUserForm.get('email')!.invalid && (addUserForm.get('email')?.dirty || addUserForm.get('email')?.touched)" >
                      <small class="text-danger"
                      *ngIf="addUserForm.get('email')!.hasError('required')">
                          Required field</small>
                  </span>
                  <span style="color: red;" *ngIf="addUserForm.get('email')!.invalid && (addUserForm.get('email')?.dirty || addUserForm.get('email')?.touched)" >
                      <small class="text-danger"
                      *ngIf="addUserForm.get('email')!.hasError('pattern')">
                          Enter valid email</small>
                  </span>
                <div class="name1" >
                    <mat-form-field class="input-field inputs1">
                        <input matInput placeholder="Enter password" [type]="hide1 ? 'password' : 'text'" formControlName="password">
                        <mat-icon matSuffix (click)="hide1 = !hide1">{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </mat-form-field>
                    <span style="color: red;" *ngIf="addUserForm.get('password')!.invalid && (addUserForm.get('password')?.dirty || addUserForm.get('password')?.touched)" >
                      <small class="text-danger"
                      *ngIf="addUserForm.get('password')!.hasError('required')">
                          Required field</small>
                    </span>
                    <mat-form-field class="input-field inputs1">
                        <input matInput placeholder="Confirm password" [type]="hide2 ? 'password' : 'text'" formControlName="cpassword">
                        <mat-icon matSuffix (click)="hide2 = !hide2">{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </mat-form-field>
                    <span style="color: red;" *ngIf="addUserForm.get('cpassword')!.invalid && (addUserForm.get('cpassword')?.dirty || addUserForm.get('cpassword')?.touched)" >
                      <small class="text-danger"
                      *ngIf="addUserForm.get('cpassword')!.hasError('required')">
                          Required field</small>
                    </span>
                </div>
                <mat-form-field class="input-field">
                    <mat-label>Role</mat-label>
                    <mat-select formControlName="role">
                        <mat-option value="admin">Admin</mat-option>
                        <mat-option value="supervisor">Supervisor</mat-option>
                        <mat-option value="agent">User</mat-option>
                        <mat-option value="agent">QA</mat-option>
                        <mat-option value="agent">QC</mat-option>
                    </mat-select>
                    <span style="color: red;" *ngIf="addUserForm.get('role')!.invalid && (addUserForm.get('role')?.dirty || addUserForm.get('role')?.touched)" >
                      <small class="text-danger"
                      *ngIf="addUserForm.get('role')!.hasError('required')">
                          Required field</small>
                    </span>
                </mat-form-field>
                <!-- <button mat-raised-button color="primary" class="registerbtn" type="submit" [disabled]="addUserForm.invalid">Create Account</button> -->
        </div>
      </form>
    </div>
    <!-- create user form ends -->
    <div class="spin">
        <span *ngIf="showSpinner" class="example-margin">
            <mat-spinner color="accent" diameter="50" strokeWidth="4"></mat-spinner>
        </span>
    </div>
</mat-dialog-content>
<mat-dialog-actions align ="end">
  <button mat-button mat-dialog-close mat-raised-button color="warn">Cancel</button>
  <button mat-button type="submit" mat-raised-button color="primary" (click)="onSubmit()" [disabled]="addUserForm.invalid">Add</button>
</mat-dialog-actions>

