mat-sidenav-container{
  height: 100%;
  background: #1e2225;
}

mat-sidenav, mat-sidenav-content {
  padding: 16px;
}

mat-sidenav{
  background-color: rgb(32, 31, 31);
  width: 200px;
}

i{
  padding-right: 10px;
  margin-left: -30px;
  /* font-size: 20px; */
  color: #808080;
}

.btn1{
  color: gray !important;
  padding-left: 50px;
  padding-top: 45px;
  font-size: 18px;
}