<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" [opened]="opened" >sidenav</mat-sidenav>
    <mat-nav-list>
      <button mat-button class="btn1"  > <mat-icon>dashboard</mat-icon>
      Dashboard</button>
      <button mat-button class="btn1"(click)="openDialog()" 
      *ngIf="role === 'admin'" ><mat-icon>queue</mat-icon>
      Add User</button>
      <button mat-button class="btn1"(click)="logout()" 
      *ngIf="role !== 'admin'" ><i class="fa-solid fa-right-from-bracket"></i>
      Logout</button>
    </mat-nav-list>
</mat-sidenav-container>

  
<!-- sidebar -->
<!-- <mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" >sidenav
    <mat-nav-list>
      <mat-list-item class="items" (click)="navigateToReg(); sidenav.close()">Register</mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-table></app-table>
  </mat-sidenav-content>
  <app-table></app-table>
</mat-sidenav-container> -->
